django==3.0.10
psycopg2==2.8.6
django-extensions==3.0.9
django-simpleui==4.0.3
django-cors-headers==3.5.0
djangorestframework==3.12.1
markdown==3.3
django-filter==2.4.0
scrapy==2.3.0
wfastcgi==3.0.0
pydevd-pycharm==202.6948.78
scrapy-djangoitem==1.1.1
pillow==7.2.0