<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Bigaray" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\Martin\bigaray\venv\Scripts\python.exe|F:\Martin\bigaray\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
